<form class="form-horizontal" #dynamicForm="ngForm">
    <div *ngIf="inputs">
        <div class="form-group" *ngFor="let i of inputs">
            <label class="control-label col-lg-2">{{i.content.label}}</label>
            <div textbox-component class="col-lg-4" [value]="i.content.value"></div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-5">
            <button class="btn primary" (click)="back()">Back</button>
        </div>
        <div class="col-lg-1" style="text-align: right">
            <button class="btn primary" (click)="back()">Submit</button>
        </div>
    </div>
</form>