//  variables
$black: #000000;
$white: #FFFFFF;
$turquoise: #009999;
$amber: #FA9D1E;
$turquoise-medium: #00595a;
$turquoise-dark: #003c3d;
$amber-dark: #F47920;
$primary-blue: #428BCA;
$info-blue: #5BC0DE;
$danger-red: #D9534F;
$success-green: #5CB85C;
$warning-yellow: #F0AD4E;
$ultra-blue: #039BE5;

$padding-default: 20px;
$padding-three-quarters: ($padding-default * 0.75);
$padding-half: ($padding-default * 0.5);
$padding-quarter: ($padding-default * 0.25);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto";
    font-size: 1em;
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h5, h6 {
    font-weight: normal;
    margin: 0;
    padding: $padding-three-quarters 0 $padding-half 0;
}
h1 {
    font-size: 2.441em;
}
h2 {
    font-size: 1.953em;
}
h3 {
    font-size: 1.563em;
}
h4 {
    font-size: 1.25em;
}
h5 {
    font-size: 1em;
}
h6 {
    font-size: 0.8em;
}

a {
    color: $turquoise;
    text-decoration: none;
}

//  container
.container {
    padding: 0 $padding-default;
    margin: 0 auto;
    width: 85%;
}