﻿/* Open Sans */
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/open_sans/OpenSans-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans"), local("OpenSans"), url("fonts/open_sans/OpenSans-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("fonts/open_sans/OpenSans-Semibold.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Open Sans Bold"), local("OpenSans-Bold"), url("fonts/open_sans/OpenSans-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("fonts/open_sans/OpenSans-ExtraBold.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("fonts/open_sans/OpenSans-LightItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("OpenSans-Italic"), url("fonts/open_sans/OpenSans-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 600;
    src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("fonts/open_sans/OpenSans-SemiboldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 700;
    src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("fonts/open_sans/OpenSans-BoldItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: 800;
    src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("fonts/open_sans/OpenSans-ExtraBoldItalic.ttf") format('truetype');
}

/* Roboto */
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 100;
    src: local("Roboto Thin"), local("Roboto-Thin"), url("fonts/roboto/Roboto-Thin.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"), local("Roboto-Light"), url("fonts/roboto/Roboto-Light.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto/Roboto-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"), local("Roboto-Medium"), url("fonts/roboto/Roboto-Medium.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"), local("Roboto-Bold"), url("fonts/roboto/Roboto-Bold.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 800;
    src: local("Open Sans Black"), local("Roboto-Black"), url("fonts/roboto/Roboto-Black.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Thin Italic"), local("Roboto-ThinItalic"), url("fonts/roboto/Roboto-ThinItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 300;
    src: local("Open Sans Light Italic"), local("Roboto-LightItalic"), url("fonts/roboto/Roboto-LightItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 400;
    src: local("Open Sans Italic"), local("Roboto-Italic"), url("fonts/roboto/Roboto-Italic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 500;
    src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("fonts/roboto/Roboto-MediumItalic.ttf") format('truetype');
}
@font-face {
    font-family: "Roboto";
    font-style: italic;
    font-weight: 700;
    src: local("Roboto Bold Italic"), local("Roboto-BlackItalic"), url("fonts/roboto/Roboto-BlackItalic.ttf") format('truetype');
}