//  variables
$black: #000000;
$white: #FFFFFF;
$turquoise: #009999;
$amber: #FA9D1E;
$turquoise-medium: #00595a;
$turquoise-dark: #003c3d;
$amber-dark: #F47920;
$primary-blue: #428BCA;
$info-blue: #5BC0DE;
$danger-red: #D9534F;
$success-green: #5CB85C;
$warning-yellow: #F0AD4E;
$ultra-blue: #039BE5;
$padding-default: 20px;
$padding-three-quarters: ($padding-default * 0.75);
$padding-half: ($padding-default * 0.5);
$padding-quarter: ($padding-default * 0.25);

//  buttons
.btn {
    border: none;
    border-radius: $padding-quarter;
    font-size: inherit;
    padding: $padding-quarter $padding-three-quarters;
}

@each $name, $color in ((primary, $turquoise), (secondary, $amber)) {
    .#{$name} {
        background-color: $color;
        border: 1px solid darken($color, 5);
        color: $white;
    }
}

.form-horizontal {
    margin: 0 -$padding-default;
    padding: $padding-default;

    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: $padding-half;
    }
    .control-label {
        font-weight: bold;
    }
}
.form-control {
    background-color: $white;
    border: 1px solid darken($white, 15);
    border-radius: 3px;
    padding: $padding-half $padding-half;
    width: 100%;
    transition: all 0.3s ease-out;

    &:focus {
        border-color: $turquoise;
        outline: none;
    }
}