//  variables
$black: #000000;
$white: #FFFFFF;
$turquoise: #009999;
$amber: #FA9D1E;
$turquoise-medium: #00595a;
$turquoise-dark: #003c3d;
$amber-dark: #F47920;
$primary-blue: #428BCA;
$info-blue: #5BC0DE;
$danger-red: #D9534F;
$success-green: #5CB85C;
$warning-yellow: #F0AD4E;
$ultra-blue: #039BE5;

$padding-default: 20px;
$padding-three-quarters: ($padding-default * 0.75);
$padding-half: ($padding-default * 0.5);
$padding-quarter: ($padding-default * 0.25);

$grid-properties: (1200px, lg), (768px, md), (480px, sm), (340px, xs);
$grid-columns: 12;
$flex: flex;

$default-padding: 20px;
$half-padding: ($padding-default * 0.5);

.row {
    @if $flex == flex {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    margin: 0 -$padding-default;
    padding: $padding-default;
}

@mixin generate-grid {
    @for $i from 1 through $grid-columns {
        .col-#{$size}-#{$i} {
            @if $flex == flex {
                width: (100% / $grid-columns) * $i;
            } @else {
                float: left;
                width: (100% / $grid-columns) * $i;
            }
        }
    }
}

@each $display, $size in $grid-properties {
    @media (min-width: $display) {
        @include generate-grid;
    }
}