//  variables
$black: #000000;
$white: #FFFFFF;
$turquoise: #009999;
$amber: #FA9D1E;
$turquoise-medium: #00595a;
$turquoise-dark: #003c3d;
$amber-dark: #F47920;
$primary-blue: #428BCA;
$info-blue: #5BC0DE;
$danger-red: #D9534F;
$success-green: #5CB85C;
$warning-yellow: #F0AD4E;
$ultra-blue: #039BE5;

$padding-default: 20px;
$padding-three-quarters: ($padding-default * 0.75);
$padding-half: ($padding-default * 0.5);
$padding-quarter: ($padding-default * 0.25);

.navbar {
    background-color: $turquoise;
    color: $white;
    padding: $padding-three-quarters $padding-three-quarters 0 $padding-three-quarters;
    width: 100%;

    .brand {
        background-image: url("img/FNB-white.png");
        display: block;
        height: 50px;
        margin-bottom: $padding-half;
        width: 115px;
    }

    .nav {
        display: flex;
        padding: 0;

        > li {
            flex: 0 0 auto;
            list-style: none;

            > a {
                border-radius: 3px 3px 0 0;
                color: $white;
                display: block;
                padding: $padding-half $padding-three-quarters;
                text-decoration: none;

                &:focus, &:hover {
                    background-color: darken($turquoise, 5);
                }
            }
            &.active {
                background-color: darken($turquoise, 5);
            }
        }
    }
}

.second-nav {
    border-bottom: 2px solid darken($white, 5);
    display: flex;
    margin-bottom: $padding-three-quarters;

    .nav {
        align-items: flex-end;
        display: flex;
        margin-left: 5%;
        padding: 0;

        > li {
            list-style: none;
            margin: 0 $padding-quarter;

            > a {
                border-bottom: 2px solid $white;
                border-radius: 3px 3px 0 0 ;
                display: block;
                font-weight: bold;
                padding: $padding-half $padding-default;

                &:focus, &:hover {
                    background-color: darken($white, 2.5);
                    border-bottom-color: $amber;
                    text-decoration: none;
                }
            }
            &.active {
                > a {
                    background-color: darken($white, 2.5);
                    border-bottom-color: $amber;
                    text-decoration: none;

                    &:focus, &:hover {
                        background-color: darken($white, 5);
                        border-bottom-color: $turquoise;
                    }
                }
            }
        }
    }
}