//  variables
$black: #000000;
$white: #FFFFFF;
$turquoise: #009999;
$amber: #FA9D1E;
$turquoise-medium: #00595a;
$turquoise-dark: #003c3d;
$amber-dark: #F47920;
$primary-blue: #428BCA;
$info-blue: #5BC0DE;
$danger-red: #D9534F;
$success-green: #5CB85C;
$warning-yellow: #F0AD4E;
$ultra-blue: #039BE5;
$padding-default: 20px;
$padding-three-quarters: ($padding-default * 0.75);
$padding-half: ($padding-default * 0.5);
$padding-quarter: ($padding-default * 0.25);
//  tables
table {
    border-collapse: collapse;
    margin-bottom: $padding-half;
}
.table {
    width: 100%;
    >thead,
    >tbody,
    >tfoot {
        >tr {
            >td,
            >th {
                border-bottom: 1px solid darken($white, 7.5);
                padding: $padding-three-quarters $padding-three-quarters;
            }
            >th {
                border-bottom: 2px solid darken($white, 7.5);
                font-size: 1.1em;
                text-align: left;
                text-transform: capitalize;
            }
        }
    }
    > tbody {
        > tr {
            &:nth-child(odd) {
                background-color: darken($white, 2.5);
            }
            &:hover {
                background-color: darken($white, 5);
            }
        }
    }
}