//  variables
$black: #000000;
$white: #FFFFFF;
$turquoise: #009999;
$amber: #FA9D1E;
$turquoise-medium: #00595a;
$turquoise-dark: #003c3d;
$amber-dark: #F47920;
$primary-blue: #428BCA;
$info-blue: #5BC0DE;
$danger-red: #D9534F;
$success-green: #5CB85C;
$warning-yellow: #F0AD4E;
$ultra-blue: #039BE5;

$padding-default: 20px;
$padding-three-quarters: ($padding-default * 0.75);
$padding-half: ($padding-default * 0.5);
$padding-quarter: ($padding-default * 0.25);

//  spacer
@for $i from 1 through 4 {
    .spacer-#{$i} {
        height: $i * 10px;
    }
}

.text {
    &-left {
        text-align: left;
    }
    &-right {
        text-align: right;
    }
    &-primary {
        color: $turquoise;
    }
    &-secondary {
        color: $amber;
    }
}