<table class="table">
    <thead>
        <tr>
            <th *ngFor="let column of columns">
                {{column.heading}}
            </th>
        </tr>
    </thead>
    <tbody>
        <tr [routerLink]="['./', row.id]" *ngFor="let row of rows">
            <td *ngFor="let cell of row.cells">
                <div *ngFor="let cellItem of cell.cellItems">
                    <div element [model]="cellItem"></div>
                </div>
            </td>
        </tr>
    </tbody>
</table>