<div label-item [labelModel]="model" *ngIf="model.content.name === 'Text'"></div>
<div hyperlink-item [hyperlinkModel]="model" *ngIf="model.content.name === 'Hyperlink'"></div>
<div checkbox-component [checkboxModel]="model" *ngIf="model.content.name === 'Checkbox'"></div>