<div class="second-nav">
    <h1>{{heading}}</h1>
    <ul class="nav">
        <li *ngFor="let link of links" [class.active]="link.active"><a [routerLink]="[link.src]">{{link.name}}</a></li>
    </ul>
</div>