/* Open Sans */
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("fonts/open_sans/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("fonts/open_sans/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("fonts/open_sans/OpenSans-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("fonts/open_sans/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Extrabold"), local("OpenSans-Extrabold"), url("fonts/open_sans/OpenSans-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("OpenSansLight-Italic"), url("fonts/open_sans/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("fonts/open_sans/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 600;
  src: local("Open Sans Semibold Italic"), local("OpenSans-SemiboldItalic"), url("fonts/open_sans/OpenSans-SemiboldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 700;
  src: local("Open Sans Bold Italic"), local("OpenSans-BoldItalic"), url("fonts/open_sans/OpenSans-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 800;
  src: local("Open Sans Extrabold Italic"), local("OpenSans-ExtraboldItalic"), url("fonts/open_sans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
}

/* Roboto */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100;
  src: local("Roboto Thin"), local("Roboto-Thin"), url("fonts/roboto/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("fonts/roboto/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans Black"), local("Roboto-Black"), url("fonts/roboto/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Thin Italic"), local("Roboto-ThinItalic"), url("fonts/roboto/Roboto-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 300;
  src: local("Open Sans Light Italic"), local("Roboto-LightItalic"), url("fonts/roboto/Roboto-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  src: local("Open Sans Italic"), local("Roboto-Italic"), url("fonts/roboto/Roboto-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url("fonts/roboto/Roboto-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 700;
  src: local("Roboto Bold Italic"), local("Roboto-BlackItalic"), url("fonts/roboto/Roboto-BlackItalic.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto";
  font-size: 1em;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h5, h6 {
  font-weight: normal;
  margin: 0;
  padding: 15px 0 10px 0;
}

h1 {
  font-size: 2.441em;
}

h2 {
  font-size: 1.953em;
}

h3 {
  font-size: 1.563em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

a {
  color: #009999;
  text-decoration: none;
}

.container {
  padding: 0 20px;
  margin: 0 auto;
  width: 85%;
}

.spacer-1 {
  height: 10px;
}

.spacer-2 {
  height: 20px;
}

.spacer-3 {
  height: 30px;
}

.spacer-4 {
  height: 40px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-primary {
  color: #009999;
}

.text-secondary {
  color: #FA9D1E;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: -20px;
  padding: 20px;
}

@media (min-width: 1200px) {
  .col-lg-1 {
    width: 8.33333%;
  }
  .col-lg-2 {
    width: 16.66667%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33333%;
  }
  .col-lg-5 {
    width: 41.66667%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33333%;
  }
  .col-lg-8 {
    width: 66.66667%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-10 {
    width: 83.33333%;
  }
  .col-lg-11 {
    width: 91.66667%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    width: 8.33333%;
  }
  .col-md-2 {
    width: 16.66667%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33333%;
  }
  .col-md-5 {
    width: 41.66667%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33333%;
  }
  .col-md-8 {
    width: 66.66667%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-10 {
    width: 83.33333%;
  }
  .col-md-11 {
    width: 91.66667%;
  }
  .col-md-12 {
    width: 100%;
  }
}

@media (min-width: 480px) {
  .col-sm-1 {
    width: 8.33333%;
  }
  .col-sm-2 {
    width: 16.66667%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33333%;
  }
  .col-sm-5 {
    width: 41.66667%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33333%;
  }
  .col-sm-8 {
    width: 66.66667%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-10 {
    width: 83.33333%;
  }
  .col-sm-11 {
    width: 91.66667%;
  }
  .col-sm-12 {
    width: 100%;
  }
}

@media (min-width: 340px) {
  .col-xs-1 {
    width: 8.33333%;
  }
  .col-xs-2 {
    width: 16.66667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333%;
  }
  .col-xs-5 {
    width: 41.66667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333%;
  }
  .col-xs-8 {
    width: 66.66667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333%;
  }
  .col-xs-11 {
    width: 91.66667%;
  }
  .col-xs-12 {
    width: 100%;
  }
}

.navbar {
  background-color: #009999;
  color: #FFFFFF;
  padding: 15px 15px 0 15px;
  width: 100%;
}

.navbar .brand {
  background-image: url("img/FNB-white.png");
  display: block;
  height: 50px;
  margin-bottom: 10px;
  width: 115px;
}

.navbar .nav {
  display: flex;
  padding: 0;
}

.navbar .nav > li {
  flex: 0 0 auto;
  list-style: none;
}

.navbar .nav > li > a {
  border-radius: 3px 3px 0 0;
  color: #FFFFFF;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  background-color: teal;
}

.navbar .nav > li.active {
  background-color: teal;
}

.second-nav {
  border-bottom: 2px solid #f2f2f2;
  display: flex;
  margin-bottom: 15px;
}

.second-nav .nav {
  align-items: flex-end;
  display: flex;
  margin-left: 5%;
  padding: 0;
}

.second-nav .nav > li {
  list-style: none;
  margin: 0 5px;
}

.second-nav .nav > li > a {
  border-bottom: 2px solid #FFFFFF;
  border-radius: 3px 3px 0 0;
  display: block;
  font-weight: bold;
  padding: 10px 20px;
}

.second-nav .nav > li > a:focus, .second-nav .nav > li > a:hover {
  background-color: #f9f9f9;
  border-bottom-color: #FA9D1E;
  text-decoration: none;
}

.second-nav .nav > li.active > a {
  background-color: #f9f9f9;
  border-bottom-color: #FA9D1E;
  text-decoration: none;
}

.second-nav .nav > li.active > a:focus, .second-nav .nav > li.active > a:hover {
  background-color: #f2f2f2;
  border-bottom-color: #009999;
}

.btn {
  border: none;
  border-radius: 5px;
  font-size: inherit;
  padding: 5px 15px;
}

.primary {
  background-color: #009999;
  border: 1px solid teal;
  color: #FFFFFF;
}

.secondary {
  background-color: #FA9D1E;
  border: 1px solid #f99206;
  color: #FFFFFF;
}

.form-horizontal {
  margin: -20px;
  padding: 20px;
}

.form-horizontal .form-group {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-horizontal .control-label {
  font-weight: bold;
}

.form-control {
  background-color: #FFFFFF;
  border: 1px solid #d9d9d9;
  border-radius: 3px;
  padding: 10px 10px;
  width: 100%;
  transition: all 0.3s ease-out;
}

.form-control:focus {
  border-color: #009999;
  outline: none;
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
}

.table {
  width: 100%;
}

.table > thead > tr > td,
.table > thead > tr > th,
.table > tbody > tr > td,
.table > tbody > tr > th,
.table > tfoot > tr > td,
.table > tfoot > tr > th {
  border-bottom: 1px solid #ececec;
  padding: 15px 15px;
}

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th {
  border-bottom: 2px solid #ececec;
  font-size: 1.1em;
  text-align: left;
  text-transform: capitalize;
}

.table > tbody > tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table > tbody > tr:hover {
  background-color: #f2f2f2;
}

/* 
    all styles in this file is only selectors for angular components and router 
*/
[accounts-component], [cards-component], [table-component] {
  width: 100%;
}
