<div class="navbar">
    <div class="container">
        <a href="#" class="brand"></a>
        <ul class="nav">
            <li *ngFor="let men of appMenus" routerLinkActive="active">
                <a>{{men.name}}</a>
            </li>
        </ul>
    </div>
</div>